  <div>
    <footer>
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h1>Chessy Bot</h1>
            </div>
            <div class="col-sm">
              <p class="author text-right">
                Pascal Andermatt <br />
                Tobias Fankhauser <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

<style>
footer {
  /*color: white;*/
  background-color: #FFD639;
  padding: 100px 0;
}
.author{
  text-align: right;
}
</style>